@import "blog"

figcaption
	text-align: center
	margin-top: 0.4rem

.copyright
	text-align: center
	flex-grow: 1

.content-wrapper
	max-width: 100%
	width: 512px
	margin: 0 auto

.blog__posts img
	max-width: 100%

.index .content-wrapper
	margin-top: 1rem
